flask==3.1.3
limits==5.8.0
loguru==0.7.3
itsdangerous==2.2.0
orjson==3.12.0
waitress==3.0.2
psycopg[binary]==3.3.4
yoyo-migrations==9.0.0
sqlalchemy==2.0.52
pillow==12.3.0
authlib==1.7.2
requests==2.33.1
boto3[crt]==1.36.26
werkzeug==3.1.8
